<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.ps.apiauthserver.mapper.AuthMapper">
    <select id="selectTokenManagement" parameterType="UserVO" resultType="TokenManagementDTO">
        /* selectTokenManagement */
        SELECT
            *
        FROM
            TOKEN_MANAGEMENT
        WHERE
            USER_ID = #{userId}
            AND TYPE = #{type}
    </select>

    <select id="getUuid" parameterType="int" resultType="String">
        /* getUuid */
        SELECT
            UUID
        FROM
            TOKEN_MANAGEMENT
        WHERE
            USER_ID = #{userId} LIMIT 1
    </select>

    <insert id="saveToken" parameterType="TokenManagementDTO">
        /* saveToken */
        insert into TOKEN_MANAGEMENT(UUID, TOKEN, TYPE, USER_ID)
        value(#{uuid}, #{token}, #{type}, #{userId})

    </insert>

    <select id="getAccount" parameterType="String" resultType="AuthUserDTO">
        /* getAccount */
        SELECT
            *
        FROM
            AUTH_USER
        WHERE
            USERNAME = #{username}
    </select>

    <select id="getAuthorities" parameterType="int" resultType="String">
        /* getAuthorities */
        SELECT
            ROLE_CD
        FROM
            AUTH_ROLE
        WHERE
            ROLE_ID in (
                SELECT
                    ROLE_ID
                FROM
                    AUTH_USER_ROLE_MAP
                WHERE
                    USER_ID = #{user_id}
            )
    </select>
</mapper>