<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.ps.apiauthserver.mapper.AuthMapper">
    <select id="selectTokenMgmt" parameterType="ai.ps.apiauthserver.model.vo.UserVO" resultType="ai.ps.apiauthserver.model.dto.TokenMgmtDTO">
        /* selectTokenMgmt */
        SELECT
            *
        FROM
            TOKEN_MGMT
        WHERE
            USER_ID = #{userId}
            AND SVC_ID = #{serviceId};
    </select>

    <select id="getServiceKey" parameterType="int" resultType="String">
        /* getServiceKey */
        SELECT
            SVC_KEY
        FROM
            TOKEN_MGMT
        WHERE
            USER_ID = #{userId} LIMIT 1;
    </select>

    <insert id="saveToken" parameterType="ai.ps.apiauthserver.model.dto.TokenMgmtDTO">
        /* saveToken */
        insert into TOKEN_MGMT(SVC_KEY, TOKEN, SVC_ID, USER_ID)
        value(#{svcKey}, #{token}, #{svcId}, #{userId});
    </insert>

    <insert id="createUserMetering" parameterType="ai.ps.apiauthserver.model.vo.UserVO">
        /* createUserMetering */
        insert into USER_METERING_INFO(USER_ID, SVC_ID, USE_CALL_CNT, USE_MEM_USAGE)
        value(#{userId}, #{serviceId}, 0, 0);
    </insert>

    <update id="removeToken" parameterType="ai.ps.apiauthserver.model.vo.UserVO">
        /* removeToken */
        update TOKEN_MGMT set ENABLED = 0 where USER_ID = #{userId} and SVC_ID = #{serviceId};
    </update>

<!--    <delete id="removeToken" parameterType="ai.ps.apiauthserver.model.vo.UserVO">-->
<!--        /* removeToken */-->
<!--        delete from TOKEN_MGMT where USER_ID = #{userId} and SVC_ID = #{serviceId};-->
<!--    </delete>-->

</mapper>